# FastAPI framework
fastapi
uvicorn[standard]==0.35.0

# Database ORM & Migration
SQLAlchemy==2.0.43
starlette
alembic==1.13.2

# Environment config
python-dotenv==1.0.1

# Excel & data handling
pandas==2.2.3
numpy==1.26.4
openpyxl==3.1.5

# Schema & validation
pydantic==2.11.7
pydantic_core==2.33.2

# Utilities
typing-inspection==0.4.1
typing_extensions
wheel==0.45.1

# Security
argon2_cffi
passlib[bcrypt]

# Production server
gunicorn

# Optional (kalau nanti butuh autentikasi JWT)
# python-jose==3.3.0
# passlib[bcrypt]==1.7.4
